<div class="sidebar-content">
    <div class="sidebar-category sidebar-category-visible">
        <div class="category-content no-padding">
            <ul class="navigation navigation-main navigation-accordion">
                <li>
                    <a>
                        <i class="icon-home4"></i>
                        <span>Sketch Generator</span>
                    </a>
                    <ul>
                        <li id="editSketchLinkMenu" routerLinkActive="active">
                            <a id="editSketchLink" [routerLink]="['/template']">Template Selection</a>
                        </li>
                        <li id="generateSketchLinkMenu" routerLinkActive="active">
                            <a id="generateSketchLink" [routerLink]="['/sketch']">Generated Skitch</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a>
                        <i class="icon-puzzle4"></i>
                        <span>Administration</span>
                    </a>
                    <ul>
                        <li>
                            <a>Cost of Service</a>
                        </li>
                        <li>
                            <a>Sizing Charts</a>
                        </li>
                        <li>
                            <a>Rates & Conversions</a>
                        </li>
                        <li class="navigation-divider"></li>
                        <li>
                            <a>NGADs Zip Matrix</a>
                        </li>
                        <li>
                            <a>Zip Codes</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a>
                        <i class="icon-file-css"></i>
                        <span>Calculations</span>
                    </a>
                    <ul>
                        <li>
                            <a>Sketch Data Mapper</a>
                        </li>
                        <li>
                            <a>NGADs Area Calculator</a>
                        </li>
                        <li>
                            <a>Load Calculator</a>
                        </li>
                        <li class="navigation-divider"></li>
                        <li>
                            <a>Allowable Investment</a>
                        </li>
                        <li>
                            <a>Sketch Design</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>