<div class="navbar navbar-default header-highlight">
    <div class="navbar-header">
        <a class="navbar-brand" href="">
            <img src="assets/images/logo_light.png" alt="">
        </a>
        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li>
                <a class="resizeCharts" data-toggle="collapse" data-target="#navbar-mobile">
                    <i class="icon-tree5"></i>
                </a>
            </li>
            <li>
                <a class="sidebar-mobile-main-toggle resizeCharts">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
            <li>
                <a class="sidebar-mobile-detached-toggle resizeCharts">
                    <i class="icon-grid7"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li>
                <a class="sidebar-control sidebar-main-toggle resizeCharts hidden-xs" data-popup="tooltip" title="Toggle Navigation" data-placement="bottom"
                    data-container="body">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
            <li>
                <a class="sidebar-control sidebar-detached-hide resizeCharts hidden-xs" data-popup="tooltip" title="Toggle Timeline Parameters"
                    data-placement="bottom" data-container="body">
                    <i class="icon-drag-right"></i>
                </a>
            </li>
        </ul>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <a>
                        <i class="icon-cog3"></i>
                        <span class="visible-xs-inline-block position-right">Icon link</span>
                    </a>
                </li>
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-user icon-2x"></i>
                        <span>John Smith</span>
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a>
                                <i class="icon-user-plus"></i> My profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a>
                                <i class="icon-switch2"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>